    <div class="navbar navbar-fixed-bottom">

    	<div class="container">
    		<p class="muted credit">&#169; <a href="https://github.com/shaligramk/" target="_blank">Shawn Shaligram</a></p>
    	</div>
    </div>